.contact-wrapper {
    padding: 0 4%;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-info-wrapper {
    flex: 1 0 auto;
}

.contact-info {
    padding: 1.5em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(211, 211, 211, 0.647);
    margin-top: 1em;
    gap: 10px;
    background-color: rgba(221, 221, 221, 0.1);
    width: 100%;
    height: 120px;
}

.contact-info a {
    text-decoration: none;
}

.contact-info  i {
    font-size: 2rem;
    color: var(--color-p);
}

.contact-info  p {
    font-size: 1.1rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.753);
}

.contact-form-wrapper {
    flex: 1 0 auto;
    margin-top: 1em;
}

.contact-form {
    display: flex;
    width: 100%;
    gap: 20px;
}

.contact-half-form {
    flex: 1 0 auto;
}

.contact-input-wrapper:not(:first-child) {
    margin-top: 1.5em;
}

.contact-input-wrapper > input:not(input[type='submit']) {
    width: 100%;
    height: 40px;
}

.contact-full-form {
    flex: 1 0 auto;
    resize: none;
}

.contact-input-wrapper > input:not(input[type='submit']),
.message {
    font-size: 1rem;
    padding: .5em;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: transparent;
    transition: all .3s;
}

.contact-input-wrapper > input:not(input[type='submit']):focus,
.message:focus {
    outline: 1px solid var(--color-p);
}

.contact-submit > input[type='submit'] {
    display: inline-block;
    padding: .8em 2.5em;
    margin: 2em 0;
    background-color: transparent;
    color: black;
    font-size: 1em;
    border: 2px solid var(--color-p);
    border-radius: 25px;
}

.map-wrapper {
    width: 100%;
    height: 120px;
    margin-bottom: 2em;
}

@media only screen and (max-width: 500px) {
    .contact-form{
        flex-direction: column;
    }
}