.main-container {
  height: 99vh;
  min-height: 500px;
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content-container,
.nav-wrapper {
  height: 80%;
  border-radius: 30px;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5em;
}

.content-container {
  width:84%;
  background-color: var(--color-p);
  display: flex;
  box-shadow: 5px 5px 5px 0 lightgray;
}

.nav-wrapper > nav,
.nav-arrows-wrapper {
  border-radius: 30px;
  padding: 1em;
  background-color: white;
  box-shadow: 5px 5px 5px 0 lightgray;
}

.content-wrapper {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 1em;
  overflow-y: auto;
  scrollbar-width: none;
}

.content-wrapper::-webkit-scrollbar {
  display: none;
}

.scrollbar-padding {
  background-color: white;
  border-radius: 30px;
  width: 70%;
  padding: .5rem;
}

.info-wrapper {
  width: 30%;
  padding: 5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav-wrapper-res {
  background-color: var(--color-p);
  min-height: 500px;
  height: 100%;
  max-width: 350px;
  width: 100%;
  position: absolute;
  translate: 100% 0;
  padding: 2em;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: translate .5s;
  display: none;
  z-index: 11;
}

.nav-wrapper-res > * {
  opacity: 0;
  transition: opacity .3s;
}

.nav-open {
  translate: 0 0;
}

.nav-wrapper-res.nav-open > * {
  opacity: 1;
}

.menu-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 50px;
  display: grid;
  place-content: center;
  background-color: var(--color-p);
  font-size: 1.3rem;
  z-index: 11;
}

@media only screen and (max-width: 1020px) {
  .scrollbar-padding {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  
  .content-container {
    height: 100%;
    width: 100%;
  }
  .content-wrapper {
    width: 100%;
    border-radius: 0;
  }

  .nav-arrows-wrapper {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid var(--color-p);
    padding: .8em;
    box-shadow: 0 0 10px 0 lightgray;
  }
}